
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Disable blue halo */
input, textarea, select, a { outline: none; }

.header {
    margin: -10px -10px 10px -10px;
    text-align: center;
    height: 40px;
    background: #DC2424;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A569D, #DC2424);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A569D, #DC2424); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 250px;
}

h1 {
    margin: 0;
    line-height: 40px;
    background-color: #FFFFFF;
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-size: 22px;
}

h2 {
    color: #F5F5F5;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1.5px;
    font-size: 13px;
}

p {
    color: #F5F5F5;
    font-size: 13px;
    text-align: center;
}

.popover {
    border-radius: 5px;
    height: 300px;
    width: 92%;
    padding: 10px;
    text-align: center;
    background: rgba(38,50,56,0.95);
    margin-top: 10px;
    box-shadow: 0 10px 20px 4px rgba(0, 0, 0, 0.25);
    -webkit-user-select: none;
    overflow-y:auto;
}

.scores {
    height:500px;
    overflow-y:auto;
}

.scorecard {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 75px;
    margin: 5px;
    border: 1px solid #E1F5FE; 
    border-radius: 5px;
}



